*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    /* overflow: hidden; */
    overflow-x: hidden;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
}

.webgl
{
    /* position: fixed; */
    top: 0;
    left: 0;
    outline: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;

    .title {
        position: absolute;
        top: 1rem;
    
        h3 {
            font-size: 4rem;
        }
    }
}

section {
    height: 100vh;
    background-color: #3e4b5f;
    color: #ffeded;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.newSect {
    padding: 1rem;
}
